<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>

    <form method="POST" action="/new">
        <label for="messageText">Message</label>
        <br />
        <input name="messageText" type="text" required></input>
        <br />
        <label for="messageUser">User</label>
        <br />
        <input name="messageUser" type="text" required></input>
        <br />
        <button type="submit">Submit</button>
    </form>
  </body>
</html>
