/* main sections */

body {
  background-color: white;
  font-family: 'Roboto', sans-serif;
}

.container {
  padding-top: 20px;
}

/* navbar */

.navbar {
  height: 56px;
  padding: 0 16px;
  border-bottom: 1px solid lightgrey;
}

.navbar > a > img {
  width: 80px;
  height: 80px;
  position: absolute;
  left: 60px;
  top: -12px;
}

.navbar > input {
  position: absolute;;
  left: 250px;
  top: 12px;
  height: 25px;
  width: 575px;
  padding-left: 8px;
  font-size: 16px;
  line-height: 24px;
}

.search-button {
  position: absolute;
  left: 836px;
  top: 12px;
  border: 1px solid lightgrey;
  padding: 7px 21px 4px 21px;
  background-color: #f2f2f2;
  border-radius: 1px;
}

.search-button > img {
  height: 15px;
  width: 15px;
}

/* videoplayer */

.videoplayer {
  width: 44.5%;
  margin-right: 1%;
  margin-left: 16.5%;
}

iframe {
  max-height: 500px;
  height: 480px;
  width: 854px;
  margin-bottom: 20px;
}

.video-info {

}

.video-info > h1 {
  font-size: 18px;
  margin-bottom: 15px;
}

.video-info > span {
  color: grey;
  font-size: 16px;
}

/* sidebar */

.sidebar {
  width: 20%;
  margin-right: 18%
}

.sidebar > div > img {
  width: 168px;
  height: 94px;
  float: left;
}

.recommended-video {
  margin-top: 15px;
}

.thumbnail-title {
    font-weight: 600;
    font-size: 15px;
    margin-bottom: 10px;
    margin-left: 175px;
}

.thumbnail-author {
  font-size: 13px;
  color: grey;
  margin-bottom: 10px;
  margin-left: 175px;
}

.thumbnail-views {
  font-size: 13px;
  color: grey;
  margin-left: 175px;
}

.up-next-text {
  font-size: 16px;
  color: #303030;
  margin-top: 3px;
}

.autoplay-text {
  text-transform: uppercase;
  font-size: 14px;
  color: grey;
  font-weight: bold;
  margin: 3px 6px 0 0;
}

.hr-bar {
  margin-top: 48px;
}

/* float */

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.float-clear {
  clear: both;
}

/* toggle switch */

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 17px;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 13px;
  width: 13px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(13px);
  -ms-transform: translateX(13px);
  transform: translateX(13px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 17px;
}

.slider.round:before {
  border-radius: 50%;
}
